*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: #F81E86;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    opacity: 0.4;
    min-height: 80vh;
    width: 60%;
    border-radius: 20px;
}